.Navbar{
    height: 50px;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e073;
    font-weight: 400;
}

.navItem > div:first-child{
    height: 50px;
    display: flex;
    cursor: pointer;
}

.navItem p{
    color: #313131;
    cursor: pointer;
}

.navItem > div:first-child > P{
    line-height: 50px;
}

.navItem > div:first-child > i{
    font-size: 25px;
    line-height: 52px;
    transition: .15s linear;
}

.navItem:hover > div:first-child > p{
    color: #00a2ff;
}
.navItem:hover > div:first-child > i{
    color: #00a2ff;
    transform: rotate(180deg);
}

.navItem > div:nth-of-type(2) {
    width: 200px;
    border: 1px solid #a1a1a11f;
    border-radius: 15px;
    padding: 10px 0 10px 15px;
    position: fixed;
    background-color: white;
    z-index: 100;
    display: none;
    box-shadow: 0 0 5px 1px #a1a1a11f;
}

.navItem:hover > div:first-child > p {
    color: #00a2ff;
}

.navItem:hover > div:nth-of-type(2){
    display: inherit !important;
}

.navItem > div:nth-of-type(2) > p{
    font-weight: 300;
    line-height: 30px;
}

.navItem > div:nth-of-type(2) > p:hover{
    color: #00a2ff;
    border-right: 3px solid #00a2ff;
}