.Header{
    height: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e073;
    padding: 0 30px;
    background-color: white;
}

.webName p{
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.searchBar{
    height: 40px;
    overflow: hidden;
    border: 2px solid #e9e9e9;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 50px;
}

.searchBar input{
    height: 100%;
    font-size: 17px;
    color: #414141;
    padding-left: 10px;
}
.searchBar input::placeholder { color: #8d8d8d; }

.searchBar button{
    background-color: #e9e9e9;
    font-size: 20px;
    cursor: pointer;
}
.searchBar button:hover {
    color: #00a2ff;
}

.header-icons{
    display: flex;
    gap: 15px;
}

.header-icons .icon i{
    font-size: 30px;
    color: #4b4b4b;
    cursor: pointer;
}

.header-icons .icon i:hover{
    color: #00a2ff;
}

.header-icons .menu-btn, .header-icons .home-btn{ display: none; }

.header-icons .cart-btn span, .header-icons .order-btn span {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 0 4px;
    border-radius: 50%;
    float: inline-end;
}

@media (max-width:1000px) {
    .Header{
        gap: 40px;
    }
}

@media (max-width:860px){
    .webName p{
        font-size: 27px;
    }

    .searchBar{
        height: 30px;
        border-radius: 10px;
        grid-template-columns: 1fr 40px;
    }
    
    .searchBar input{
        font-size: 15px;
        padding-left: 7px;
    }
    
    .searchBar button{
        font-size: 18px;
    }
    
    .header-icons .icon i{
        font-size: 23px;
        transition: .2s linear;
    }

    .uil-times{
        transform: rotate(180deg); 
    }

    .header-icons .cart-btn span, .header-icons .order-btn span {
        font-size: 10px;
        padding: 0 4px;
    }
}

@media (max-width:700px){
    .Header{
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #e9e9e9;
    }

    .searchBar{
        width: 95vw;
        margin-bottom: 15px;
    }

    .header-icons{
        display: flex;
        gap: 0;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        box-shadow: 0 0 5px 5px #eeeeee;
        z-index: 100;
        background-color: white;
    }

    .header-icons .menu-btn, .header-icons .home-btn{ display: inherit; }
}

@media (max-width:300px){
    .Header{
        padding: 0 10px;
        height: 85px;
        justify-content: flex-start;
    }

    .webName p{
        line-height: 35px;
    }

    .searchBar{
        border-radius: 8px;
        grid-template-columns: 1fr 35px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    
    .searchBar input{
        width: 100%;
        padding-left: 5px;
    }
}